.overlay-filter{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.overlay-filter:hover{
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
}

.main-container{
    max-width: 900px;
}

.footer-links{
    cursor: pointer;
}

.footer-links:hover{
    text-decoration: underline;
}


.carrito-img{
    max-width: 50%;
}


.carousel-text{
    background-color: rgba(0, 0, 0, 0.5);
    top: 35%;
    height: 110px;
}

.accordion-button::after{
    background-color: rgb(255, 255, 255);
    border-radius: 25%;
}

